@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #9a6cc6;
}

.modal {
    width: 18.25vw;
    background-color: transparent;
    border: 0.1vw solid #9c7dd7;
    backdrop-filter: blur(1vw);
    color: #f2e7ff;
    border-radius: 0.5vw;
    padding: 1.5vw 1.8vw;
}

.header {
    font-size: clamp(30px, 4vw, 40px);
    text-align: center;
}

.inputDiv {
    position: relative;
    width: 100%;
    height: 4.4vh;
    margin: 1vw 0;
}

.inputField {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 0.1vw solid #9c7dd7;
    border-radius: 0.5vw;
    font-size: clamp(15px, 0.7vw, 30px);
    color: #f2e7ff;
    padding: 0.6vw 1vw 0.6vw 0.6vw;
}

.inputField::placeholder {
    color: #f2e7ff;
}

.inputDiv .bx {
    position: absolute;
    right: 0.7vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: clamp(15px, 0.7vw, 30px);
}

.rememberForgot {
    display: flex;
    justify-content: space-between;
    font-size: clamp(15px, 0.6vw, 30px);
    margin: 1w 0.2vw;
}

.rememberForgot label input {
    accent-color: #f2e7ff;
    margin-right: 0.1vw;
}

.rememberForgot input[type="checkbox"] {
    accent-color: #9c7dd7;
}

.btn {
    width: 100%;
    height: 3.8vh;
    background-color: #230a3b;
    border: none;
    outline: none;
    border-radius: 1vw;
    box-shadow: 0 0 0.2vw #3a1e51;
    cursor: pointer;
    font-size: clamp(18px, 0.8vw, 35px);
    color: #f2e7ff;
    font-weight: 600;
    margin-top: 1vw;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #3e1958;
}

.signupLink {
    font-size: clamp(15px, 0.6vw, 30px);
    text-align: center;
    margin: 1vw 0 0.6vw;
}

a {
    color: #f2e7ff;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #e2d2ff;
}

p a {
    font-weight: 600;
}

.modal {
    position: relative;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-1vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(1vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#loginForm.active {
    animation: fadeInFromLeft 0.3s ease-in-out;
}

#signupForm.active {
    animation: fadeInFromRight 0.3s ease-in-out;
}
